<section class="vh-100" style="background-color: #FF6A2A;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

        <form action="/admin/addUser-submit" method="post">

            <h3 class="mb-5">Add User</h3>

            <div class="form-outline mb-4">
              <p style="color:red ;">{{error}}</p>
              <span id="name-error"style="color:red ;" ></span>
              <input type="text" name="username" id="contact-name" oninput="validateName()" class="form-control form-control-lg" />
              <label class="form-label pt-4" for="typeUsernameX-2">Username</label>
            </div>
            
            <div class="form-outline mb-4">
                <input type="email" name="email" id="contact-email" oninput="validateEmail()" class="form-control form-control-lg" />
                <label class="form-label pt-4" for="typeEmailX-2">Email</label>
                <span id="email-error"></span>
              </div>

            <div class="form-outline mb-4 p-4">
              <input type="password" name="password" id="typePasswordX-2" class="form-control form-control-lg" />
              <label class="form-label pt-4" for="typePasswordX-2">Password</label>
            </div>

            

            <button class="btn btn-primary btn-lg btn-block " type="submit" >Create</button>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <script>
    let usernameError=document.getElementById('name-error');
let passwordError=document.getElementById('email-error')


function validateName(){
    let username= document.getElementById('contact-name').value

    if(username.length==0){
        usernameError.innerHTML='Username Required';
        return false
    }
    nameError.innerHTML =' ';
    return true;
}

  const validateEmail = () => {

    var email = document.getElementById('contact-email').value;
    if (email.length == 0) {
      emailError.innerHTML = 'Email is rquired'
      return false
    }
    if (!email.match(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)+$/)) {
      emailError.innerHTML = 'enter valied email address'
      return false
    }
    emailError.innerHTML = ''
  }

  </script>

