<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <form action="/admin/admin-submit" method="post">

              <h3 class="mb-5">Admin Login in</h3>
              <p style="color:red ;"></p>
             <div class="form-outline mb-4">
              <p style="color: red;">{{error}}</p>

              <span  style="color: red ;"id="admin-error"></span>
              <input type="text" name="adminId" id="v-adminId" oninput="validateName()" class="form-control form-control-lg" />
              <label class="form-label pt-4" for="typeUsernameX-2">Username</label>
            </div>

              <div class="form-outline mb-4 p-4">
                <input type="password" name="password" id="password-error" oninput="validatePassword()" class="form-control form-control-lg" />
                <label class="form-label pt-4" for="typePasswordX-2">Password</label>
              </div>


              <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            </form>

            <hr class="my-4">
            <a class="btn btn-lg btn-block btn-success " href="/">User Login?</a>

          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
     let adminError=document.getElementById('admin-error');
let passwordError=document.getElementById('password-error')

function validateName{
    let admin= document.getElementById('v-adminId').value

    if(username.length==0){
        adminError.innerHTML='adminId Required';
        return false
    }
    nameError.innerHTML =' ';
    return true;
}

function validatePassword(){
    let password=document.getElementById('v-password').value

    if(password.length==0){
        passwordError.innerHTML='password Required'
        return false
    }
    passwordError.innerHTML=' ';
    return true;
}


  </script>
</section>