<section class="vh-100" style="background-color: #BBD9A8;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <form action="/admin/edit-submit" method="post">

              <h3 class="mb-5">Edit User</h3>
              <p style="color:red ;"></p>
             <div class="form-outline mb-4">
              <input type="text" name="id" value="{{userdetails._id}}" hidden  >
              {{#if error}}

              <p style="color: red;">{{error}}</p>
              {{/if}}
              <input type="text" name="username" id="typeUsernameX-2" class="form-control form-control-lg" value="{{userdetails.username}}" />
              <label class="form-label pt-4" for="typeUsernameX-2">Username</label>
            </div>

              <div class="form-outline mb-4 p-4">
                <input type="email" name="email" id="typeEmailX-2" class="form-control form-control-lg" value="{{userdetails.email}}" />
                <label class="form-label pt-4" for="typeEmailX-2">Email</label>
              </div>

              <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
            </form>

            <hr class="my-4">


            {{!-- <a class="btn btn-lg btn-block btn-success fab fa-google me-2" href="/signup">Create an account?</a> --}}
            {{!-- <a class="btn btn-primary" href="/logout">Log out</a> --}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>