<section class="vh-100" style="background-color: #B9AD50;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

        <form action="/signup-submit" method="post">

            <h3 class="mb-5">create an Account</h3>

            <div class="form-outline mb-4">
              <p style="color:red ;">{{error}}</p>

              <span style="color:red ;" id="username-error"></span>
              <input type="text" name="username" id="data-username" oninput="validateUserName()" class="form-control form-control-lg" />
              <label class="form-label pt-4" for="typeUsernameX-2">Username</label>
            </div>
            
            <div class="form-outline mb-4">

              <span  style="color:red ;" id="email-error"></span>
                <input type="email" name="email" id="data-email" oninput="validateEmail()" class="form-control form-control-lg" />
                <label class="form-label pt-4" for="typeEmailX-2">Email</label>
              </div>

            <div class="form-outline mb-4 p-4">
              <span  style="color:red ;" id="password-error"></span>
              <input type="password" name="password" id="data-password" oninput="validatePassword()" class="form-control form-control-lg" />
              <label class="form-label pt-4" for="typePasswordX-2">Password</label>
            </div>
            <button class="btn btn-primary btn-lg btn-block " type="submit" >Sign Up</button>
            </form>

            <hr class="my-4">
<a class="btn btn-lg btn-block btn-danger " href="/">Already have an account?</a>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  var usernameError= document.getElementById('username-error')
  var emailError=document.getElementById('email-error')
  var passwordError= document.getElementById('password-error')

  function validateUserName(){
 
    var username=document.getElementById('data-username').value;

if(username.length==0){

        usernameError.innerHTML='Please Enter a UserName';
        return false;
}
 if(!username.match(/^[A-Za-z]/)){
        usernameError.innerHTML='please enter valid UserName';
        return false;

  }
username.innerHTML=" ";

    return true;
  }
 function validateEmail(){
  var email=document.getElementById('data-email').value
if(email.length == 0){
        emailError.innerHTML='Email is rquired'
        return false
  
 }
  if(!email.match(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)+$/)){
        emailError.innerHTML='enter valied email address'
        return false;

  }
  emailError.innerHTMl=' ';
  return true;
 }

 validatePassword(){
  var password=document.getElementById('data-password').value

  if(password.length==0){
    passwordError.innerHTML='Please enter password'
    return false
  }

passwordError.innerHTML=' '
return true
 }
 


</script>